.libvirt-domain .libvirt-action {
    display: none;
}

.libvirt-domain-stopped .libvirt-action-start {
    display: block;
}

.libvirt-domain-started .libvirt-action-shutdown {
    display: block;
}

.table-overflow-wrap {
    overflow-x: auto;
}

#libvirt-refresh {
    margin: 0 0 1em 0;
}
